* {
    color: #ffffff;
    background: #101010;
    background: #202020;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Rubik', sans-serif; */
}

/* COLORS */
/* dark #101010 */
/* secondary dark #262626 */

/* light #ffffff */

/* accent #ff40ff */

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    height: 6vmax;
    max-height: 60px;
}

.app {
    min-height: calc(100vh - 16vmax)
}

.burger-btn {
    height: 4vmax;
    max-height: 35px;
    margin: 2vmax;
    padding: 0;
    background: none;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.burger-btn-active {
    display: block;
}

.burger-btn span {
    display: block;
    width: 4vmax;
    max-width: 35px;
    height: .65vmax;
    max-height: 5px;
    background: #ff40ff;
    border-radius: 2px;
    transition: .65s;

}

.burger-btn span:nth-child(2) {
    width: 3vmax;
    max-width: 27px;
}

.burger-btn-active span:nth-child(1){
    transform: rotate(0.125turn);
}

.burger-btn-active span:nth-child(2) {
    display: none;
}

.burger-btn-active span:nth-child(3){
    transform: rotate(-0.125turn);
    margin-top: -.65vmax;
}

nav {
    background: #262626a0;
    position: fixed;
    top: 8vmax;
    left: 0;
    width: 100%;
    height: calc(100% - 6vmax);
    transition: 1s;
    z-index: 300;
}

.nav-hidden {
    left: 100%;
}

nav ul {
    min-width: 300px;
    width: 60vw;
    max-width: 600px;
    margin: 5vh auto;
    padding: 10vh 0;
    border-radius: 5px;
}

nav ul li {
    list-style-type: none;
    text-align: center;
    margin: 3vh auto;
    font-size: 4vmax;
    letter-spacing: .5vmax;
    text-indent: .5vmax;
    width: 100%;
}

nav ul li a {
    transition: .3s;
    text-decoration: none;
    color: inherit;
    color: #ffffff;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 10vmin;
    padding: 4vmax 2vmax;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}

p {
    padding: 0 2vmax;
}

/* .scrolling-links-container {
    height: 35vmax;
    width: 100%;
    overflow-y: hidden;
    margin-bottom: 10vh;
}

.link {
    height: 35vmax;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s;
    z-index: 100;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.link-background {
    height: 30vmax;
    width: 100%;
    filter: grayscale(1.0);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.link p {
    height: 5vmax;
    background: #BFFFFF;
    color: #009975;
    font-size: 3.5vmax;
    padding: 1.25vmax 10vw;
    text-align: right;
}

.in-view {
    z-index: 200;
    opacity: 1;
}

#a {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/71h6PpGaz9L._AC_SL1500_.jpg");
}

#b {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuudb8iGOhuvb35CxtFkczTElUawYzv2-sfA&usqp=CAU");
}

#c {
    background-image: url("https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE4tf03?ver=cf8b&q=90&m=6&h=705&w=1253&b=%23FFFFFFFF&f=jpg&o=f&p=140&aim=true")
} */



footer {
    height: 8vmax;
    background: #ff40ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer span {
    background: #ff40ff;
    color: #101010;
}